@using CarDealerApp.Infrastructure.Extensions
@model CarDealer.Models.ViewModels.Sales.AddSaleViewModel

@{
    ViewBag.Title = "Add Sale";
}

<h2>Add Sale</h2>

@using (Html.BeginForm("Add", "Sales", FormMethod.Post))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Customer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CustomerId", @Model.Customer, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Car, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CarId", @Model.Car, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Discount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Discount", @Model.Discount, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.Submit("Submit", "btn btn-primary")
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Sales")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
