@using CarDealerApp.Infrastructure.Extensions
@model CarDealer.Models.ViewModels.RegisterUserViewModel

@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>


@using (Html.BeginForm("Register", "Users", FormMethod.Post))
{
    @Html.LabelFor(m => m.Username)
    <input type="text" id="username" name="username" placeholder="Enter a valid username..." class="form-control" />

    @Html.LabelFor(m => m.Email)
    <input type="email" id="email" name="email" placeholder="Enter a valid email..." class="form-control" />

    @Html.LabelFor(m => m.Password)
    <input type="password" id="password" name="password" placeholder="Enter password..." class="form-control" />

    @Html.LabelFor(m => m.ConfirmPassword)
    <input type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirm Password..." class="form-control" />

    <br />
    @Html.ActionLink("Cancel", "Index", "Home",null,new { @class = "btn btn-danger" })
    <span> </span>
    @Html.Submit("Register","btn btn-success")
}